@model CoffeShop.Models.ViewModels.DetailsVM

<div class="">
    <form method="post">
        <input asp-for="@Model.Product.Id" hidden />
        <div class="container backgroundWhite pt-4">
            <div class="card" style="border:1px solid #000000; ">
                <div class="card-header bg-dark text-light m-0 row container" style="border-radius: 0px;">
                    <div class="col-12 col-md-6">
                        <h1 class="text-white p-2">@Model.Product.Name</h1>
                    </div>
                    <div class="col-12 col-md-6 text-md-right" style="text-align:right;">
                        <h1 class="text-warning p-2">@Model.Product.Price KM</h1>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container rounded p-2">
                        <div class="row">
                            <div class="col-12 col-lg-4 p-1 text-center">
                                <img src="@WC.ImagePath@Model.Product.Image" width="300px" class="rounded" />
                            </div>
                            <div class="col-12 col-lg-8">
                                <div class="row pl-3">

                                    <div class="col-12">
                                        <span class="badge p-3 border" style="background-color:lavenderblush; color:#3e3f3a;">@Model.Product.Category.Name</span>
                                        <span class="badge p-3 border" style="background-color:azure; color:#3e3f3a;">@Model.Product.ProductTypes.Name</span>
                                        <h3 class="text-success"></h3>

                                        <p class="text-secondary">@Model.Product.Description</p>
                                    </div>
                                    <div class="col-12">
                                        Količina:
                                    </div>
                                    <div class="col-12">
                                        @if(Model.ExistsInCart)
                                        {
                                            <input asp-for="@Model.Product.Quantity" disabled class="form-control" />
                                        }
                                        else
                                        {
                                            <input asp-for="@Model.Product.Quantity" class="form-control" />
                                        }

                                        <span asp-validation-for="@Model.Product.Quantity" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-dark">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <a asp-action="Index" class="btn btn-success btn-square form-control btn-lg" style="height:50px;padding-top:12px;">Nazad na listu</a>
                        </div>
                        <div class="col-12 col-md-6">
                            @if(Model.ExistsInCart)
            {
                            <a asp-action="RemoveFromCart" asp-route-id="@Model.Product.Id" class="btn btn-warning btn-square form-control btn-lg" style="height:50px;padding-top:12px;">Ukloni sa računa</a>
                            }
                            else
            {
                        <button type="submit" class="btn btn-info form-control btn-lg" style="height:50px;">Dodaj na račun</button>
            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>