@model IEnumerable<CoffeShop.Models.Product>

    <div class="container pb-3 pt-3">
        <div class="row pt-4">
            <div class="col-6 p-0">
                <h2 style="text-transform:uppercase; font-size:30px;">Lista proizvoda</h2>
            </div>
            <div class="col-6 text-right" style="text-align:right;">
                <a asp-action="Upsert" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i>
                     Kreiraj novi proizvod
                </a>
            </div>
        </div>
    </div>

@if(Model.Count() > 0)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Ime proizvoda</th>
                            <th scope="col">Opis</th>
                            <th scope="col">Cijena</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var obj in Model)
                {
                        <tr>
                            <td>@obj.Name</td>
                            <td>@obj.Description</td>
                            <td>@obj.Price <span>KM</span></td>
                            <td class="text-center">
                                <div class="w-75 btn-group" role="group">
                                    <a asp-controller="Product" asp-route-id="@obj.Id" asp-action="Upsert" class="btn btn-primary"><i class="bi bi-pencil"></i> Uredi</a>
                                </div>
                            </td>
                            <td class="text-center">
                                <div class="w-75 btn-group" role="group">
                                    <a asp-controller="Product" asp-route-id="@obj.Id" asp-action="Delete" class="btn btn-danger"><i class="bi bi-trash"></i> Izbriši</a>
                                </div>
                            </td>
                        </tr>
                }
                    </tbody>
                </table>
            }